[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = auto
[user]
	name = Laurent Bachelier
	email = laurent@bachelier.name
[alias]
	st = status
	ci = commit
	lg = log -M --decorate --graph
	lgo = log -M --decorate --graph --oneline
	sl = log -M --decorate --reverse --oneline
	pur = pull --rebase
	arver = !sh -c 'git archive --format=tar --prefix=$(basename ${PWD})-${1}/ v${1}|bzip2 > $(basename ${PWD})-${1}.tar.bz2' -
	root = !pwd
	fug = !git fsck --strict --full --lost-found --unreachable && git gc --aggressive --prune
	fall = fetch --all
	alias = !git config --list|grep ^alias|sed 's/alias.//'|grep '='
	sig = log -n1 --show-signature
[core]
	pager = cat
[push]
	default = upstream
[gitgoggles]
	fetch = false
[diff "gpg"]
	textconv = gpg -v
	xfuncname = "^((pub|uid) .*)"
[diff "odt"]
	binary = true
	textconv = odt2txt
[include]
	path = .gitconfig.sendemail
# vim: set noexpandtab:
