# vim: set noexpandtab:
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto
[user]
	name = Laurent Bachelier
	email = laurent@bachelier.name
	signingkey = 0x3463EA5A518A9C75
[alias]
	st = status
	ci = commit
	lg = log -M --decorate --graph
	lgo = log -M --decorate --graph --oneline
	sl = log -M --decorate --reverse --oneline
	pur = pull --rebase
	arver = !sh -c 'git archive --format=tar --prefix=$(basename ${PWD})-${1}/ v${1}|bzip2 > $(basename ${PWD})-${1}.tar.bz2' -
	root = !pwd
	fug = !git fsck --strict --full --lost-found --unreachable && git gc --aggressive --prune
	fall = fetch --all
	alias = !git config --list|grep ^alias|sed 's/alias.//'|grep '='
	sig = log -n1 --show-signature
	amu = "!curl ${1}|git am - #"
	brs = "!git branch --no-merged $(git rev-parse --abbrev-ref HEAD) --sort=-committerdate"
[core]
	pager = cat
[push]
	default = upstream
[gitgoggles]
	fetch = false
[diff "gpg"]
	textconv = gpg -v
	xfuncname = "^((pub|uid) .*)"
[diff "odt"]
	binary = true
	textconv = odt2txt
[include]
	path = .gitconfig.sendemail
[branch]
	autosetuprebase = always
	sort=-committerdate
[rebase]
	autoStash = true
[am]
	threeWay = true
[pull]
	rebase = preserve
[log]
	showSignature = true
	mailmap = true
[diff]
	mnemonicPrefix = true
	renames = true
	submodule = log
[fetch]
	recurseSubmodules = check
[tag]
	sort = version:refname
[grep]
	extendedRegexp = true
[merge]
	ff = only
