if [ -n "$DISPLAY" ]; then
    export OOO_FORCE_DESKTOP=gnome

    export BROWSER="firefox"

    # pulseaudio for sdl 1.2.12 or later:
    export SDL_AUDIODRIVER=pulse
fi

alias startx="exec startx -- -nolisten tcp -verbose 5 -logverbose 3 -br"
